@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Witamy na stronie Centrum Adopcyjnego Zwierząt!</h1>
    <p>Zapraszamy serdecznie do przeglądu adopcji oraz do założenia konta by wypełnić wniosek adopcyjny!</p>
</div>
