@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Witamy na stronie Centrum Adopcyjnego Zwierząt!</h1>
    <p>Zapraszamy serdecznie do rejestracji aby sprawdzić wszystkie zwierzęta do adopcji!</p>
    <img style="margin-top: 30px" src="~/img/mainDog.jpg" class="img-fluid" alt="Responsive image">
</div>
