@model CentrumAdopcyjneZwierzat.Models.User.LoginUserModel
@{ }
<div>
    <form asp-action="LoginUser" asp-controller="Account" method="post">
        <div class="mb-3">
            <span class="text-danger" asp-validation-for="UserName"></span>
            <label asp-for="UserName">Nazwa użytkownika: </label>
            <input class="form-control w-25" type="text" asp-for="UserName" />
        </div>
        <div class="mb-3">
            <span class="text-danger" asp-validation-for="Password"></span>
            <label asp-for="Password">Hasło: </label>
            <input class="form-control w-25" type="password" asp-for="Password" />
        </div>
        <div>
            <input type="hidden" asp-for="ReturnUrl" value=@Model.ReturnUrl />
        </div>
        <div>
            <button class="btn btn-primary" type="submit" asp-action="LoginUser">Loguj</button>
        </div>
    </form>
</div>