@model IList<CentrumAdopcyjneZwierzat.Models.User.ApplicationUser>
@{ 
}

<h1>Lista użytkowników</h1>

<table class="table">


    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                 <a class="mr-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                 <a class="mr-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>


        </tr>
     }

</table>