@model CentrumAdopcyjneZwierzat.Models.AdoptionCenter.Volunteer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VolunteerId" />
            <div class="form-group">
                <label asp-for="VolunteerFirstName" class="control-label"></label>
                <input asp-for="VolunteerFirstName" class="form-control" />
                <span asp-validation-for="VolunteerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerLastName" class="control-label"></label>
                <input asp-for="VolunteerLastName" class="form-control" />
                <span asp-validation-for="VolunteerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerPesel" class="control-label"></label>
                <input asp-for="VolunteerPesel" class="form-control" />
                <span asp-validation-for="VolunteerPesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerEmail" class="control-label"></label>
                <input asp-for="VolunteerEmail" class="form-control" />
                <span asp-validation-for="VolunteerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerPhone" class="control-label"></label>
                <input asp-for="VolunteerPhone" class="form-control" />
                <span asp-validation-for="VolunteerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Volunteers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
